<div class="card card-experience">
  <% if experience.photo.attached? %>
    <%= cl_image_tag experience.photo.key, height: 302, width: 280,  crop: :fill, fetch_format: :png %>
  <% else %>
    <%= image_tag("placeholder_exp", width: 280, height: 302) %>
  <% end %>
  <div class="card-experience-infos">
    <div>
      <h1><%= link_to experience.name, experience_path(experience.id) %></h1>
      <h2><%= experience.city %>, <%= experience.country %></h2>
      <h3> #<%= experience.exp_type %></h3>
    </div>
    <div class="done">
      <%# <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Done
        </label>
      </div> %>
    </div>

      <div class="card-experience-user avatar-bordered">
        <%= cl_image_tag experience.user.photo.key, height: 40, width: 40, radius: "max",  crop: :fill, fetch_format: :png %>
      </div>
      <%=  link_to  profile_path(id: experience.user.id) do %>
        <div class="card-experience-overlay"> </div>
      <% end %>


  </div>
</div>
