<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "DejaVu8.png" %>
      <% end %>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "My feed", "#", class: "nav-link bordered" %>
            </li>
            <li class="nav-item">
              <%= link_to "Explore",experiences_path, class: "nav-link bordered" %>
            </li>
            <li class="nav-item dropdown active">
              <div class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, height: 40, width: 40, radius: "max",  crop: :fill, fetch_format: :png %>
                <% else %>
                  <%= image_tag("user_avatar.png", class: "avatar")  %>
                <% end %>
              </div>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", profile_path(current_user.id), class: "dropdown-item" %>
                <%= link_to "Explore", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>
