<div class="ms-1">
  <!-- -->
  <% @friends.each do |friend| %>
    <div clas="friend-invite-card">
      <ul class="list-group list-group-horizontal">
        <%= link_to profile_path(friend.id) do %>
          <li>
            <% if friend.photo.attached?  %>
              <%= cl_image_tag friend.photo.key,
                height: 50, width: 50, crop: :fill, quality: 70,
              radius: :max, format: :png %>
            <% else %>
              <%= image_tag('user_avatar.png', class: 'friends-list-photo') %>
            <% end %>
          </li>
          <li>
            <p> <%= "#{friend.first_name} #{friend.last_name}" %></p>
          </li>
        <% end %>
        <li>
          <div class=" mt-2 ms-2 align-self-center text-end">
            <%= link_to "Remove", invitation_path(ids: {id1: current_user.id,
              id2: friend.id}), data: { confirm: "Are you
                sure you want to remove #{friend.first_name} #{friend.last_name}
              as a friend ?"}, method: :delete, class: "btn-friends-cancel-full"%>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
