<div class="p-1">
  <% @friend_invites.each do |invite|  %>
    <div class="friend-invite-card ">
    <!--if user created the friend request -->
      <%if @current_user.id == invite.user_id %>
        <% friend_info = User.find(invite.friend_id) %>
        <ul class="list-group list-group-horizontal ">
          <%= link_to profile_path(invite.friend_id) do  %>
            <li>
              <div class="ps-2 pt-1 ">
                <%= cl_image_tag friend_info.photo.key,
                  height: 50, width: 50, crop: :fill, quality: 70,
                  radius: :max, format: :png, :border=>"1px_solid_white"%>
              </div>
            </li>
            <li class="">
              <div class="">
                <p> <%= "#{friend_info.first_name} #{friend_info.last_name}" %></p>
              </div>
            </li>
          <% end %>
          <li class=" ps-3 align-content-center d-flex ">
            <div class="d-inline-flex align-self-center ">
              <p class="friend-card-request"> Requested✓ </p>
                <%= link_to "Cancel", invitation_path(ids: {id1: current_user.id,
                id2: invite.friend_id}), method: :delete, data: { confirm: "Are you sure you want to cancel your friend request to #{friend_info.first_name}
                #{friend_info.last_name} ?"},
                class: "btn-friends-cancel "%>
            </div>
          </li>
        </ul>


      <% else %>
        <!--if user was sent the friend request -->
        <% friend_info = User.find(invite.user_id) %>
        <ul class="list-group list-group-horizontal">
          <%= link_to profile_path(invite.user_id) do  %>
            <li>
              <div class="ps-2 pt-1 ">
                <% if friend_info.photo.attached?  %>
                  <%= cl_image_tag friend_info.photo.key,
                    height: 50, width: 50, crop: :fill, quality: 70,
                    radius: :max, format: :png, :border=>"1px_solid_white"%>
                <% else  %>
                  <%= image_tag('user_avatar.png', class: 'friends-list-photo') %>
                <% end %>
              </div>
            </li>
            <li class="">
              <p> <%= "#{friend_info.first_name} #{friend_info.last_name}" %></p>
            </li>
          <% end %>
          <li class=" ps-3 align-content-center d-flex ">
            <div class="d-inline-flex align-self-center ">
              <%= link_to "Accept", invitation_path(ids: {id1: current_user.id,
              id2: invite.user_id}), method: :patch, class: "btn-friends-accept "%>

              <%= link_to "Reject", invitation_path(ids: {id1: current_user.id,
              id2: invite.user_id}), method: :delete , data: { confirm: "
              Are you sure you want to cancel your friend request to #{friend_info.first_name}
              #{friend_info.last_name} ?"},
              class: "btn-friends-cancel "%>

            </div>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
