<div class="pt-3 pb-2 content border-sunk">
  <div class="d-flex">
    <% if @access == "owner" %>
      <h2 class="bg-exp mt-2"> My wishlist </h2>
    <% else %>
      <h2 class="bg-exp mt-2"><%= "#{@profile_user.first_name}'s wishlist" %></h2>
    <% end %>
  </div>
  <div class="cards-lg">
    <% @user_experiences_wishlist.each do |exp| %>

        <div class="wishlist-card" >
          <div class="card text-bg-light">
            <% if exp.photo.attached? %>
              <div class="card-img-pl">
                <%= cl_image_tag exp.photo.key, crop: :fill,
                  :transformation => {:effect => "blur:500"}, :effect=>"brightness:-50", class: "card-img "%>
              </div>
            <% else %>
              <div class="card-img-pl">
                <%= image_tag("placeholder_exp", class: "card-img img-fluid") %>
              </div>
            <% end %>
            <div class="card-img-overlay text-center">
              <h5 class="my-3"> <%=link_to "#{exp.name}", experience_path(exp.id), class: "wishlist-card-title" %> </h5>
              <% if @access == 'owner' %>
                <% my_exp = MyExperience.find_by(user_id: current_user.id, experience_id: exp.id) %>
                  <div class="done-btn"> <%= link_to "done", done_path(exp.id),  class: "btn btn-sm btn-outline-light"%></div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
