<div class="text-center p-4 vstcard">
  <div>
    <div class="pt-3 pb-2">
      <div class="vstuser-photo">
        <%= cl_image_tag @profile_user.photo.key,
          height: 80, width: 80, crop: :fill, quality: 100,
          radius: :max, format: :png%>
      </div>

      <div class="col-6-lg col-12-sm">
        <div class="d-flex justify-content-center align-self-center">
          <h4 class="pt-2 pe-1" style="color: grey"> <%= @profile_user.first_name %> </h4>
          <h5 class="pt-2 ps-1 align-self-center"> @<%= @profile_user.username %> </h5>
        </div>
      </div>

      <div class="invitebtn">
        <!--if user does not have a pending request or a accepted request -->
        <% if !Invitation.reacted?(current_user.id, @profile_user.id) %>
            <%= link_to 'Add Friend',
              invitations_path(ids: {id1: current_user.id, id2: @profile_user.id}),
              class: "btn btn-primary", method: :post
            %>
          <!-- if user friendship is confirmed -->
          <% elsif Invitation.confirmed_record?(current_user.id, @profile_user.id)%>
            <%= link_to 'Friends✔', "#", class: "btn btn-success" %>
          <!-- User friendship is pending -->
          <% else %>
            <% pending_invite = Invitation.find_invitation(current_user.id, @profile_user.id) %>
            <% if pending_invite.id == current_user.id %>
              <%= link_to "Accept Friend Request",
                invitation_path(ids: {id1: current_user.id, id2: @profile_user.id}),
                class: "btn btn-success"%>
            <% else %>
              <%= link_to 'Pending Request', "#", class: "rounded-pill btn btn-secondary disabled" %>
            <% end %>
          <% end %>
      </div>
      <div class="py-3">
        <% @profile_user.bio %>
      </div>
    </div>
  </div>

  <div class="vstr-card-footer">
    <% if Invitation.confirmed_record?(current_user.id, @profile_user.id)%>
      <%= link_to 'Remove as friend', invitation_path(ids: {id1: current_user.id,
        id2: @profile_user.id}), method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-danger" %>
    <% elsif Invitation.pending_record?(current_user.id, @profile_user.id) %>
      <%= link_to 'Cancel Request', invitation_path(ids: {id1: current_user.id,
        id2: @profile_user.id}), method: :delete, data: { confirm: 'Are you sure?' },
        class: "rounded-pill btn btn-danger" %>
    <% end %>
  </div>
</div>
