<h1>Experiences#index</h1>


<%= link_to 'Create a new Experience', new_experience_path, class:"btn btn-success" %>
<div>
  <%= render '/shared/search' %>
</div>

<ul>
  <% @experiences.each do |experience| %>
    <li><%= link_to experience.name, experience_path(experience)   %></li>
    <li><%= experience.country %></li>
    <li><%= experience.city %></li>
  <% end %>
</ul>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
