<div class="container d-flex justify-content-evenly">
  <div class=" p-3 info info-border">
    <div class="pb-5 text-center">
      <h2> <%= @experience.name %> </h2>
      <%= cl_image_tag @experience.photo.key, crop: :fill, width: 300, height: 300, quality: 70, radius: 20, format: :png %>
    </div>
    <div class=" d-flex descript">
      <p> <%= @experience.description %> </p>
    </div>
    <p> <%= @experience.country %> </p>
    <p> <%= @experience.city %> </p>
    <p> <%= @experience.address %> </p>
    <p> <%= @experience.contact %> </p>

    <% unless @experience.user_id == current_user.id || @my_experience.user_id == current_user.id  %>
      <%= link_to 'Add to wishlist', new_experience_my_experience_path(@experience), class:"btn btn-success" %>
      <% if @my_experience.user != nil %>
        <%= link_to 'Add a review', new_my_experience_review_path(@my_experience), class: "btn btn-success" %>
        <%# link_to 'Mark it as done', new_my_experience_review_path(@experience), class: "btn btn-success" %>
      <% end %>
    <% end %>

    <% @experience.reviews.each do |review| %>
      <p> <%= review.rating %> </p>
      <p> <%= review.content %> </p>
      <hr>
    <% end %>
  </div>
  <div class="col-3"> <%# map %>
      <div class="map">
        <%= render 'shared/map' %>
      </div>
    </div>
</div>
<hr>
<div class="container pt-5 ">
  <%= link_to 'back', experiences_path, class: "btn btn-secondary" %>
  <% if policy(@experience).edit? %>
    <%= link_to 'edit', edit_experience_path %>
    <%= link_to 'delete', experience_path(@experience), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <%# <%= link_to '+ review', new_experience_review_path(@experience) %>
  <%# <%= link_to '+ wishlist', new_experience_my_experience_path(@experience) %>
</div>
